<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}" rel="stylesheet" type="text/css">
    <title>Login | TRI-GL</title>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row no-gutter login--row">
        <div class="col-md-5 col-lg-7 login--col">
          <div class="shape shape--color"></div>
          <div class="shape shape--image"></div>
        </div>
        <div class="offset-md-5 offset-lg-7 col-md-7 col-lg-5">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <div class="container login--form">
                    <img src="{{ url_for('static', filename='images/Tri-gl%20logo.svg') }}" height="100" width="100" class="login__logo">
                    <h2 class="mb-4 align-self-center login__heading" align="center">WELCOME</h2>
                    <form name="login" id="login" class="needs-validation" method="post" action="{{ url_for('login') }}" novalidate>
                      <div class="input-group login__form--input login__form--input--1 has-validation">
                        <div class="input-group-prepend login__group--prepend">
                          <span class="input-group-text"><img src="{{ url_for('static', filename='images/person_black_24dp.svg') }}" class="login__icon--1"/></span>
                        </div>
                        <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username" required>
                        <div class="invalid-feedback">
                          Please provide a username.
                        </div>
                      </div>
                      <div class="input-group login__form--input login__form--input--2 has-validation">
                        <div class="input-group-prepend login__group--prepend">
                          <span class="input-group-text"><img src="{{ url_for('static', filename='images/lock_black_24dp.svg') }}" class="login__icon--2"/></span>
                        </div>
                        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
                        <div class="input-group-append login__group--append">
                          <span class="input-group-text"><img src="{{ url_for('static', filename='images/visibility_off_black_24dp.svg') }}" class="login__icon--off"/>
                            <img src="{{ url_for('static', filename='images/visibility_black_24dp.svg') }}" class="login__icon--on"/>
                          </span>
                        </div>
                        <div class="invalid-feedback">
                          Please provide a password.
                        </div>
                      </div>
                      {% if error %}
                      <div class="alert alert-danger alert-dismissible fade show login--alert" role="alert" style="">
                        <strong>Invalid username or password.</strong> Please try again.
                        <button type="button" class="btn-close login__btn--close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% else %}
                      {% endif %}
                      <button class="btn btn-lg btn-primary btn--trigl btn-block login__btn text-uppercase font-weight-bold mb-2" type="submit">LOGIN</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/login.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>